<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showHeader()">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Stefacoin</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" *ngIf="usuario?.tipo === 1">
          <a [routerLink] = "[ 'area-do-professor' ]" class="nav-link active" aria-current="page" >Area do Professor</a>
        </li>

        <li class="nav-item" *ngIf="usuario?.tipo === 2">
          <a class="nav-link active" aria-current="page"  href="#">Area do Aluno</a>
        </li>
        
        <li class="nav-item">
          <a [routerLink] = "[ 'listar-alunos' ]" class="nav-link active" aria-current="page">Listar alunos</a>
        </li>

        <li class="nav-item">
          <a [routerLink] = "[ 'listar-professores' ]" class="nav-link active" aria-current="page">Listar professores</a>
        </li>

        <li class="nav-item">
          <a [routerLink] = "[ 'listar-cursos' ]" class="nav-link active" aria-current="page">Listar cursos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="#">Perfil</a>
        </li>

        <li class="nav-item"> <!-- tentar limpar application -->
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-danger">Sair</button>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
